<!-- src/app/public/components/tool-bar/tool-bar.html -->
<nav class="toolbar">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <div class="toolbar-section left">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>
  <div class="toolbar-section center">
    <span class="app-title">Dedalus</span>
  </div>
  @if (isAuthenticated()) {
    <div class="toolbar-section right">
      <button class="toolbar-btn">Rooms</button>
      <button class="toolbar-btn">Room Classes</button>
      <button class="toolbar-btn">Bookings</button>
      <button class="toolbar-btn">Settings</button>
      <img src="assets/profile.png" alt="Profile" class="profile-icon">
      <button class="logout">Log out</button>
    </div>
  }
  @else  {
    <div class="toolbar-section right">
      <button class="toolbar-btn">Sign In</button>
    </div>
  }
</nav>
