body {
  background-color: #121212;
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  margin: 4rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255,255,255,0.1);
}

h2 {
  margin-top: 0;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
}

.subtitle {    /* visibilidad al 60%*/
  font-size: 0.9rem;
  color: #FFFFFF;
  opacity: 0.6;
  text-align: center;
  margin-bottom: 2rem;
}

label {
  display: block;
  opacity: 0.8;
  margin-bottom: 0.3rem;
  font-size: 0.85rem;
  color: #ffffff;
}

input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1.2rem;
  border: 1px solid #333;
  border-radius: 6px;
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 0.9rem;
  opacity: 0.4;
}

input::placeholder {
  color: #aaaaaa;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.cancel-btn {
  background: none;
  border: none;
  color: #cccccc;
  font-size: 0.9rem;
  cursor: pointer;
}

.create-btn {
  background-color: #0C1536;
  color: #ffffff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.create-btn:hover {
  background-color: #1a2e6c;
  transform: translateY(-2px) scale(1.04);
}
