<form (ngSubmit)="generateUrl()" class="invitation-form">
  <label for="email">Invite a new Administrator</label>
  <input id="email" [(ngModel)]="email" name="email" required type="email" placeholder="Email" />
  <button type="submit" [disabled]="loading">Generar invitación</button>
</form>

@if (showModal) {
  <div class="modal">
    <div class="modal-content">
      <p>Invitation URL :</p>
      <input [value]="invitationUrl" readonly />
      <button (click)="copyUrl()">Copiar link</button>
      <button (click)="closeModal()">Cerrar</button>
    </div>
  </div>
}
