<div class="dashboard-container">

  <div class="card">
    <h2>📡 Registered Sensors</h2>

    <ul class="divide-y divide-gray-200 mt-3">
      @for (sensor of sensors; track sensor.id) {
        <li class="py-3 flex items-center justify-between">
          <div>
            <div class="font-semibold">{{ sensor.sensor }}</div>
            <!--div class="text-xs text-gray-500">Device: {{ sensor.device_id }}</div>   alch se ve feo -->
          </div>

          <span class="text-xl">{{ getSensorIcon(sensor.sensor) }}</span>
        </li>
      }
    </ul>
  </div>


  <!-- SMOKE SENSORS -->
  <div class="card">
    <h2>🔥 Smoke Sensors</h2>
    <div class="sensor-grid">
      @for (item of smokeEntries; track item.key) {
        <div class="sensor-item">
          <span class="sensor-name">{{ item.key }}</span>

          <!-- Añadimos ppm -->
          <span class="sensor-value">{{ item.value }} ppm</span>
        </div>
      }
    </div>
  </div>

  <!-- TEMPERATURE & HUMIDITY -->
  <div class="card">
    <h2>🌡️ Humidity and Temperature</h2>
    <div class="sensor-grid">
      @for (item of tempEntries; track item.key) {

        <div class="sensor-item">
          <span class="sensor-name">{{ item.key }}</span>

          <!-- Detectar tipo por nombre -->
          <span class="sensor-value">

            @if (item.key.toLowerCase().includes('temperatura')) {
              {{ item.value }} °C
            }
            @else if (item.key.toLowerCase().includes('humedad')) {
              {{ item.value }} %
            }
            @else {
              {{ item.value }}
            }

          </span>
        </div>
      }
    </div>
  </div>

  <!-- MOTION -->
  <div class="card">
    <h2>🚶 Motion</h2>

    <div class="sensor-grid motion-grid">
      @for (item of motionEntries; track item.key) {

        <div class="motion-item">

          <div class="motion-status"
               [class.detected]="item.value === 1"
               [class.idle]="item.value === 0">
            <div class="motion-circle"></div>
          </div>

          <div class="motion-info">
            <span class="sensor-name">{{ item.key }}</span>

            <span class="motion-text">
              @if (item.value === 1) {
                Detectado 👀
              }
              @else {
                Sin movimiento
              }
            </span>
          </div>

        </div>
      }
    </div>

  </div>

</div>
