/* Sección general */
.pricing-section {
  padding: 4rem 1rem;
  background-color: #f5f7fa;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}
.pricing-title{
    color: #ffffff;
}
/* Título */
.pricing-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #FFFFFF;
}

/* Contenedor de tarjetas */
.pricing-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

/* Tarjeta base */
.pricing-card {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  margin: 4rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255,255,255,0.1);
}

.pricing-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 22px rgba(0,0,0,0.12);
}

/* Tarjeta destacada */
.pricing-card--featured {
  border: 2px solid #3d7fff;
  position: relative;
}

/* Badge destacado */
.pricing-badge {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: #0C1536;
  padding: 6px 12px;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 8px;
  color: white;
}

/* Iconos */
.pricing-icon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* Nombre del plan */
.pricing-card h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #FFFFFF;
}

/* Precio */
.price {
  font-size: 2rem;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}

/* Lista */
.pricing-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.pricing-card ul li {
  margin: 0.5rem 0;
  opacity: 0.8;
  color: #FFFFFF;
}

/* Botón */
.pricing-card button {
  background-color: #0C1536;
  color: #ffffff;
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.pricing-card button:hover {
  background-color: #2a63d6;
  transform: translateY(-2px);
}
